/* .body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
} */
.body {
    height: 100vh; 
    width: 100vw; 
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    overflow-x: hidden;
}

.example-container {
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 48px);
}

.navbar {
    background-color: rgba(220, 222, 252, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 10%;
    height: 10%;
}

.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 20%;
    background: linear-gradient(to right, rgb(188, 198, 250), rgb(140, 141, 146));
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Content-list {
    padding-left: 20px;
    padding-top: 20px;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
}

.list-new {
    padding-bottom: 7px;
}

.menuName {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    color: black;
}

.icn {
    padding-top: 6px;
}